nodered-json/flows_rasp101.json
[{"id":"5e7551e4.28af9","type":"tab","label":"Arduino"},{"id":"9bd7afdd.c73768","type":"tab","label":"Sensori Locali"},{"id":"75ed7333.fb29ac","type":"tab","label":"Comandi UI e Telegram"},{"id":"393ef1da.d3611e","type":"tab","label":"Dashboard Output"},{"id":"9cc719a6.bd9f28","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"2c7865f.137829a","type":"ui_group","z":"","name":"Nunchuck - Stick & Buttons","tab":"9cc719a6.bd9f28","disp":true,"width":"6"},{"id":"221140a.ca7ecc","type":"ui_group","z":"","name":"Accelerometer","tab":"9cc719a6.bd9f28","disp":true,"width":"6"},{"id":"4e600efa.25d61","type":"ui_group","z":"","name":"Rotation","tab":"9cc719a6.bd9f28","disp":true,"width":"6"},{"id":"568d1fae.00d35","type":"ui_group","z":"","name":"LucaLamp","tab":"84618ce8.45872","disp":true,"width":"6"},{"id":"84618ce8.45872","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"5b416aec.26aec4","type":"ui_group","z":"","name":"Servo","tab":"9cc719a6.bd9f28","disp":true,"width":"6"},{"id":"dda16b0d.302de","type":"chatbot-telegram-node","z":"","botname":"flr_rimini1_bot","usernames":"","polling":"1000","log":""},{"id":"67815e78.078108","type":"ui_tab","z":"","name":"FabLab Romagna - Rasp-Red IoT","icon":"dashboard"},{"id":"88663896.915b18","type":"ui_group","z":"","name":"Comandi","tab":"67815e78.078108","disp":true,"width":"6"},{"id":"1538f7a7.cf6ed8","type":"ui_group","z":"","name":"Sensori","tab":"67815e78.078108","disp":true,"width":"12"},{"id":"cbbed330.4fa","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"4f0ce248.cc152c","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"5b4f8533.b5ab9c","type":"ui_group","z":"","name":"Arduino Sensors","tab":"67815e78.078108","disp":true,"width":"6"},{"id":"8104154.e0220e8","type":"chatbot-telegram-receive","z":"75ed7333.fb29ac","bot":"dda16b0d.302de","x":117,"y":326,"wires":[["d3aaaf22.1b91","cb16dccd.4b983","94a3aa99.28e518","4d30296b.8874b8","d85056b7.12e908","b72237f6.cc46e8","65acca00.8d8698","d881b120.1091b","24d8c065.6a448","7981feb5.f74ca","98584d77.b33a8","39eacbed.e2a0e4","2f67384a.a57c18"]]},{"id":"4d2f9874.f6a728","type":"chatbot-telegram-send","z":"75ed7333.fb29ac","bot":"dda16b0d.302de","track":false,"outputs":0,"x":1063,"y":473,"wires":[]},{"id":"d3aaaf22.1b91","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/ok_bot","x":371,"y":207,"wires":[["272a55c8.e32f5a"]]},{"id":"272a55c8.e32f5a","type":"chatbot-inline-buttons","z":"75ed7333.fb29ac","name":"","answers":[{"value":"/command","label":"Comando","answer":null,"url":"","image_url":"","alert":false,"newLine":false},{"value":"/status","label":"Stato","answer":null,"url":"","image_url":"","alert":false,"newLine":false}],"message":"Cosa vuoi fare?","x":549,"y":208,"wires":[["4d2f9874.f6a728"]]},{"id":"94a3aa99.28e518","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/status","x":360,"y":303,"wires":[["9ac35a7d.9138a8"]]},{"id":"cb16dccd.4b983","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/command","x":380,"y":256,"wires":[["b3f4df02.4f1c4"]]},{"id":"b3f4df02.4f1c4","type":"chatbot-inline-buttons","z":"75ed7333.fb29ac","name":"","answers":[{"value":"/led_on","label":"LUCE ON","answer":null,"url":"","image_url":"","alert":false,"newLine":false},{"value":"/led_off","label":"LUCE OFF","answer":null,"url":"","image_url":"","alert":false,"newLine":true},{"value":"/vent_on","label":"VENT ON","answer":null,"url":"","image_url":"","alert":false,"newLine":false},{"value":"/vent_off","label":"VENT OFF","answer":null,"url":"","image_url":"","alert":false,"newLine":false}],"message":"Seleziona il comando","x":550,"y":261,"wires":[["4d2f9874.f6a728"]]},{"id":"92a0559e.b54718","type":"comment","z":"75ed7333.fb29ac","name":"Menu Intermedi","info":"","x":392,"y":165,"wires":[]},{"id":"9ac35a7d.9138a8","type":"chatbot-inline-buttons","z":"75ed7333.fb29ac","name":"","answers":[{"value":"/get_amb","label":"Dati ambientali","answer":null,"url":"","image_url":"","alert":false,"newLine":false},{"value":"/get_status","label":"Stato utenze","answer":null,"url":"","image_url":"","alert":false,"newLine":true},{"value":"/get_image","label":"Webcam","answer":null,"url":"","image_url":"","alert":false,"newLine":false},{"value":"/info","label":"INFO","answer":null,"url":"","image_url":"","alert":false,"newLine":false}],"message":"Cosa vuoi sapere?","x":542,"y":309,"wires":[["4d2f9874.f6a728"]]},{"id":"4d30296b.8874b8","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/info","x":361,"y":358,"wires":[["5397f96b.9c5b08"]]},{"id":"5397f96b.9c5b08","type":"chatbot-inline-buttons","z":"75ed7333.fb29ac","name":"","answers":[{"value":"/whois","label":"Chi sono","answer":null,"url":"","image_url":"","alert":false,"newLine":false},{"value":"/get_pos","label":"Dove Sono","answer":null,"url":"","image_url":"","alert":false,"newLine":true},{"value":"","label":"FabLabRomagna","answer":null,"url":"http://fablabromagna.org/blog/","image_url":"","alert":false,"newLine":false}],"message":"Informazioni","x":545,"y":361,"wires":[["4d2f9874.f6a728"]]},{"id":"a0e4f73e.1f1da8","type":"chatbot-location","z":"75ed7333.fb29ac","name":"FabLab Romagna - Maker Space Rimini","latitude":"44.048223","longitude":"12.582524","place":"FLR - Maker Space Rimini","x":648,"y":496,"wires":[["4d2f9874.f6a728"]]},{"id":"1f146da0.32b6a2","type":"comment","z":"75ed7333.fb29ac","name":"Risposte ai comandi","info":"","x":402,"y":430,"wires":[]},{"id":"d85056b7.12e908","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/get_pos","x":367,"y":496,"wires":[["a0e4f73e.1f1da8"]]},{"id":"b72237f6.cc46e8","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/whois","x":355,"y":548,"wires":[["2223a078.4d615"]]},{"id":"2223a078.4d615","type":"chatbot-message","z":"75ed7333.fb29ac","name":"Whois Message","message":[{"message":"Ciao, sono il BOT flr_rimini1\nSono stato creato per la demo IoT di FabLab Romagna.\n"}],"answer":false,"track":false,"parse_mode":"","x":570,"y":547,"wires":[["4d2f9874.f6a728"]]},{"id":"65acca00.8d8698","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/led_on","x":358,"y":722,"wires":[["1bbe3b85.eb0604","16a390b0.d0836f"]]},{"id":"d881b120.1091b","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/led_off","x":358.5,"y":768,"wires":[["d9308b22.e83a58","1bbe3b85.eb0604"]]},{"id":"1bbe3b85.eb0604","type":"chatbot-message","z":"75ed7333.fb29ac","name":"","message":[{"message":"Comando LED eseguito"}],"answer":false,"track":false,"parse_mode":"","x":716,"y":719,"wires":[["4d2f9874.f6a728"]]},{"id":"d9308b22.e83a58","type":"change","z":"75ed7333.fb29ac","name":"OFF LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"led","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":712,"y":860,"wires":[["da97ef27.cc77d"]]},{"id":"16a390b0.d0836f","type":"change","z":"75ed7333.fb29ac","name":"ON LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"led","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710.5,"y":803,"wires":[["da97ef27.cc77d"]]},{"id":"237a2415.cad93c","type":"ui_button","z":"75ed7333.fb29ac","name":"","group":"88663896.915b18","order":2,"width":"3","height":"1","label":"LED ON","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":356.5,"y":808,"wires":[["16a390b0.d0836f"]]},{"id":"12b05806.cfc6b8","type":"ui_button","z":"75ed7333.fb29ac","name":"","group":"88663896.915b18","order":3,"width":"3","height":"1","label":"LED OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":351.5,"y":859,"wires":[["d9308b22.e83a58"]]},{"id":"24d8c065.6a448","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/get_status","x":376,"y":628,"wires":[["18535cf3.917423"]]},{"id":"c7bc1371.3bf79","type":"chatbot-message","z":"75ed7333.fb29ac","name":"Status Message","message":[],"answer":false,"track":false,"parse_mode":"Markdown","x":742,"y":628,"wires":[["4d2f9874.f6a728"]]},{"id":"18535cf3.917423","type":"function","z":"75ed7333.fb29ac","name":"msg status","func":"\nvar message = \"\"\n\nmessage += \"Stato Led: \";\nmessage += (global.get(\"led\") === 1)?\"ON\":\"OFF\"\nmessage += \"\\nStato Vent: \";\nmessage += (global.get(\"vent\") === 1)?\"ON\":\"OFF\"\n\n\n\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"x":554,"y":631,"wires":[["c7bc1371.3bf79"]]},{"id":"39eacbed.e2a0e4","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/vent_on","x":345,"y":915,"wires":[["a845f255.f4a9c","8132f4d1.fb8168"]]},{"id":"2f67384a.a57c18","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/vent_off","x":342.5,"y":972,"wires":[["be568f0.f9a017","8132f4d1.fb8168"]]},{"id":"7b7f3f08.50cb3","type":"ui_button","z":"75ed7333.fb29ac","name":"","group":"88663896.915b18","order":5,"width":"3","height":"1","label":"VENT ON","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":336.5,"y":1028,"wires":[["a845f255.f4a9c"]]},{"id":"fde1dc9b.9fa61","type":"ui_button","z":"75ed7333.fb29ac","name":"","group":"88663896.915b18","order":6,"width":"3","height":"1","label":"VENT OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":342.5,"y":1081,"wires":[["be568f0.f9a017"]]},{"id":"be568f0.f9a017","type":"change","z":"75ed7333.fb29ac","name":"OFF VENT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"vent","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":719,"y":1030,"wires":[["5e6b3fed.620f1"]]},{"id":"a845f255.f4a9c","type":"change","z":"75ed7333.fb29ac","name":"ON VENT","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"vent","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710.5,"y":987,"wires":[["5e6b3fed.620f1"]]},{"id":"8132f4d1.fb8168","type":"chatbot-message","z":"75ed7333.fb29ac","name":"","message":[{"message":"Comando VENT eseguito"}],"answer":false,"track":false,"parse_mode":"","x":702,"y":917,"wires":[["4d2f9874.f6a728"]]},{"id":"58ba755c.675a2c","type":"inject","z":"75ed7333.fb29ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":351,"y":1224,"wires":[["82a6d060.42b7c"]]},{"id":"82a6d060.42b7c","type":"change","z":"75ed7333.fb29ac","name":"","rules":[{"t":"set","p":"level_thr","pt":"global","to":"800","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":537,"y":1223,"wires":[[]]},{"id":"3f3ab3e4.c8fb8c","type":"comment","z":"75ed7333.fb29ac","name":"Inizializzazione valori","info":"","x":369,"y":1177,"wires":[]},{"id":"7981feb5.f74ca","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/get_image","x":374,"y":586,"wires":[["a13fb340.a45b"]]},{"id":"8f099477.720388","type":"chatbot-image","z":"75ed7333.fb29ac","name":"","filename":"","caption":"","x":720,"y":587,"wires":[["4d2f9874.f6a728"]]},{"id":"a13fb340.a45b","type":"http request","z":"75ed7333.fb29ac","name":"","method":"GET","ret":"bin","url":"http://rasp101.local:8080/?action=snapshot","tls":"","x":561,"y":587,"wires":[["8f099477.720388"]]},{"id":"98584d77.b33a8","type":"chatbot-command","z":"75ed7333.fb29ac","name":"","command":"/get_amb","x":370,"y":666,"wires":[["c7b28e24.6220e"]]},{"id":"c7b28e24.6220e","type":"function","z":"75ed7333.fb29ac","name":"msg status","func":"\nvar message = \"\"\n\n\nmessage += \"Temp: \";\nmessage += global.get(\"temp\") + \"C\";\n\nmessage += \"\\nUmid: \";\nmessage += global.get(\"umid\") + \"%\";\n\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":669,"wires":[["5bef2fcc.c494d"]]},{"id":"5bef2fcc.c494d","type":"chatbot-message","z":"75ed7333.fb29ac","name":"Status Message","message":[],"answer":false,"track":false,"parse_mode":"Markdown","x":746,"y":666,"wires":[["4d2f9874.f6a728"]]},{"id":"8afa7c73.ca827","type":"rpi-dht22","z":"9bd7afdd.c73768","name":"","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"26","x":333,"y":122,"wires":[["d170d9d0.8f9038","a2419216.2ee01","9dcfce71.6fc93"]]},{"id":"d170d9d0.8f9038","type":"debug","z":"9bd7afdd.c73768","name":"","active":false,"console":"false","complete":"true","x":544,"y":123,"wires":[]},{"id":"d1a3652f.0340d8","type":"inject","z":"9bd7afdd.c73768","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":135,"y":122,"wires":[["8afa7c73.ca827"]]},{"id":"a2419216.2ee01","type":"change","z":"9bd7afdd.c73768","name":"","rules":[{"t":"set","p":"temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":161,"wires":[[]]},{"id":"9dcfce71.6fc93","type":"change","z":"9bd7afdd.c73768","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":234,"wires":[["4185327c.4b8b9c"]]},{"id":"9b3e16f1.c38128","type":"ui_gauge","z":"393ef1da.d3611e","name":"","group":"1538f7a7.cf6ed8","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":679,"y":65,"wires":[]},{"id":"e13c34b6.967838","type":"inject","z":"393ef1da.d3611e","name":"","topic":"","payload":"temp","payloadType":"global","repeat":"5","crontab":"","once":true,"x":408,"y":65,"wires":[["9b3e16f1.c38128","518cb9fe.a5ade8"]]},{"id":"dfdba003.2c276","type":"ui_gauge","z":"393ef1da.d3611e","name":"","group":"1538f7a7.cf6ed8","order":3,"width":"4","height":"4","gtype":"gage","title":"Umidità","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":675,"y":186,"wires":[]},{"id":"b742d39e.1731e","type":"inject","z":"393ef1da.d3611e","name":"","topic":"","payload":"umid","payloadType":"global","repeat":"5","crontab":"","once":true,"x":404,"y":186,"wires":[["dfdba003.2c276","ba72369c.df40e8"]]},{"id":"518cb9fe.a5ade8","type":"ui_chart","z":"393ef1da.d3611e","name":"","group":"1538f7a7.cf6ed8","order":2,"width":"8","height":"4","label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":680,"y":107,"wires":[[],[]]},{"id":"ba72369c.df40e8","type":"ui_chart","z":"393ef1da.d3611e","name":"","group":"1538f7a7.cf6ed8","order":2,"width":"8","height":"4","label":"Umidità","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":682,"y":239,"wires":[[],[]]},{"id":"e522ae1f.c8bfd","type":"ui_text","z":"393ef1da.d3611e","group":"88663896.915b18","order":1,"width":0,"height":0,"name":"","label":"LED ","format":"{{msg.payload}}","layout":"row-spread","x":682,"y":333,"wires":[]},{"id":"da97ef27.cc77d","type":"link out","z":"75ed7333.fb29ac","name":"led_cmd","links":["e5862c45.2c248","5aa9079.8cc4df8","ba9c050a.654888"],"x":885,"y":824,"wires":[]},{"id":"5e6b3fed.620f1","type":"link out","z":"75ed7333.fb29ac","name":"vent_cmd","links":["1a19c54c.12700b","eaf8a590.b22bf8"],"x":882,"y":1003,"wires":[]},{"id":"e5862c45.2c248","type":"link in","z":"393ef1da.d3611e","name":"","links":["da97ef27.cc77d"],"x":381,"y":295,"wires":[["2584dca5.5343c4"]]},{"id":"5996362e.e77dc8","type":"ui_text","z":"393ef1da.d3611e","group":"88663896.915b18","order":4,"width":0,"height":0,"name":"","label":"VENT","format":"{{msg.payload}}","layout":"row-spread","x":681,"y":392,"wires":[]},{"id":"1a19c54c.12700b","type":"link in","z":"393ef1da.d3611e","name":"","links":["5e6b3fed.620f1"],"x":390,"y":419,"wires":[["3afbb494.078b9c"]]},{"id":"2584dca5.5343c4","type":"change","z":"393ef1da.d3611e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":531,"y":332,"wires":[["e522ae1f.c8bfd"]]},{"id":"3afbb494.078b9c","type":"change","z":"393ef1da.d3611e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":532,"y":395,"wires":[["5996362e.e77dc8"]]},{"id":"48684339.24ef4c","type":"inject","z":"393ef1da.d3611e","name":"","topic":"STARTUP","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":230,"y":355,"wires":[["2584dca5.5343c4","3afbb494.078b9c"]]},{"id":"5bd977e5.7115b8","type":"debug","z":"5e7551e4.28af9","name":"","active":true,"console":"false","complete":"true","x":273,"y":451,"wires":[]},{"id":"f8fc7915.fb0098","type":"inject","z":"5e7551e4.28af9","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":132,"y":121,"wires":[["dfe9bf11.8702c"]]},{"id":"e873d147.3ccc3","type":"inject","z":"5e7551e4.28af9","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":131,"y":173,"wires":[["dfe9bf11.8702c"]]},{"id":"dfe9bf11.8702c","type":"arduino out","z":"5e7551e4.28af9","name":"LED","pin":"3","state":"OUTPUT","arduino":"4f0ce248.cc152c","x":312,"y":156,"wires":[]},{"id":"3f26ddb.5c44c22","type":"arduino in","z":"5e7551e4.28af9","name":"","pin":"","state":"STRING","arduino":"4f0ce248.cc152c","x":92,"y":379,"wires":[["5bd977e5.7115b8","5be7c1bd.8102c"]]},{"id":"61be57b2.0859f8","type":"inject","z":"5e7551e4.28af9","name":"","topic":"","payload":"distance","payloadType":"str","repeat":"1","crontab":"","once":false,"x":113,"y":320,"wires":[["7e4157d.99b5ca8"]]},{"id":"7e4157d.99b5ca8","type":"arduino out","z":"5e7551e4.28af9","name":"","pin":"","state":"STRING","arduino":"4f0ce248.cc152c","x":274,"y":322,"wires":[]},{"id":"bb9bcbd5.6b8a38","type":"inject","z":"5e7551e4.28af9","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":499,"y":107,"wires":[["2070e798.358c18"]]},{"id":"17943a11.77a956","type":"inject","z":"5e7551e4.28af9","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":498,"y":159,"wires":[["2070e798.358c18"]]},{"id":"2070e798.358c18","type":"arduino out","z":"5e7551e4.28af9","name":"VENT","pin":"4","state":"OUTPUT","arduino":"4f0ce248.cc152c","x":679,"y":142,"wires":[]},{"id":"5aa9079.8cc4df8","type":"link in","z":"5e7551e4.28af9","name":"","links":["da97ef27.cc77d"],"x":160,"y":76,"wires":[["dfe9bf11.8702c"]]},{"id":"eaf8a590.b22bf8","type":"link in","z":"5e7551e4.28af9","name":"","links":["5e6b3fed.620f1"],"x":529,"y":62,"wires":[["2070e798.358c18"]]},{"id":"5be7c1bd.8102c","type":"change","z":"5e7551e4.28af9","name":"Distance","rules":[{"t":"move","p":"payload","pt":"msg","to":"distance","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":276,"y":381,"wires":[[]]},{"id":"946959c5.8a2f38","type":"inject","z":"393ef1da.d3611e","name":"","topic":"","payload":"distance","payloadType":"global","repeat":"1","crontab":"","once":true,"x":395,"y":509,"wires":[["b02be4ad.2c5eb8","7e60e03b.37006"]]},{"id":"b02be4ad.2c5eb8","type":"ui_gauge","z":"393ef1da.d3611e","name":"","group":"5b4f8533.b5ab9c","order":0,"width":"3","height":"3","gtype":"donut","title":"Distanza","label":"cm","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"x":681,"y":510,"wires":[]},{"id":"7e60e03b.37006","type":"debug","z":"393ef1da.d3611e","name":"","active":false,"console":"false","complete":"false","x":632,"y":570,"wires":[]},{"id":"4185327c.4b8b9c","type":"range","z":"9bd7afdd.c73768","minin":"0","maxin":"100","minout":"0","maxout":"80","action":"scale","round":true,"name":"","x":514,"y":355,"wires":[["8239870b.623658"]]},{"id":"8239870b.623658","type":"change","z":"9bd7afdd.c73768","name":"","rules":[{"t":"set","p":"umid","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":679,"y":353,"wires":[[]]}]